<div class='quick_user_result'>

    <div>
        <img src='{{config.wwwroot}}/blocks/quick_user/pix/plus.png' class='quick_user_toggle' data-userid='{{user.id}}' />
        {{{user.picture}}}
        <a href='{{config.wwwroot}}/user/profile.php?id={{user.id}}' target='_blank' title='{{title}}'>{{user.name}}</a>
    </div>

    <div class='quick_user_links' id='hidden_user_{{user.id}}'>
        {{#links}}
            {{#.}}
                <a href="{{{url}}}" target="_blank" title="{{title}}"><img src="{{img}}" alt="{{title}}" /></a>
            {{/.}}
        {{/links}}
    </div>

</div>